body { 
  color: #fff;
	background: linear-gradient(-45deg, #000000, #ff0000, #000000, #ff0000);
	background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

.main p {
  padding-left: 1rem;
}

h1 {
  font-size: 30px;
  color: rgb(136, 0, 0);
  padding-left: 1rem;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
